.collection-item {
    flex: 1 0 21%;
    margin: 0 15px 25px 0;
    height: 350px;

    &:nth-child(4n) {
        margin-right: 0;
    }

    &:last-child {
        flex: 0 0 24%;
        margin-right: 0;
    }

    .item-image {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .collection-item-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .name {
            width: 80%;
            margin-bottom: 15px;
        }

        .price {
            width: 20%;
            text-align: end;
        }
    }
}