.sign-in-sign-up-container {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

    .sign-in-box {
        width: 30vw;
    }

    .sign-up-box {
        width: 30vw;
    }
}