.shop-preview {
    .title {
        text-align: center;
    }

    .all-collections {
        .collection {
            .collection-title {
                text-decoration: none;
                font-size: 30px;
                color: #101010;
            }
        }
    }
}